

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: white;
    font-family: Arial, sans-serif;
}

.navbar-title {
    font-size: 24px;
    margin: 0;
}

.navbar-link {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #007BFF;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.navbar-link:hover {
    background-color: #0056b3;
}
